*{
	box-sizing: border-box;
	font-family:'Arial', 'Helvetica', 'sans-serif';
}
body{
	margin:0;
	padding:0; 
}
.container{
	width:95%;
	margin: 0 auto;
	max-width: 1100px;
}
img{
	max-width: 100%;
	margin: 0 auto;
}
.flex{
	display: flex;
}
.hide{
	display: none;
}
.visible{
	display: inline-block;
}
.flex-space{
	display: flex;
	justify-content: space-between;
}
/*Side Bar*/
.container-side{
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
    /*border:1px solid red;*/
}
.menu-side{
    top:0;
    left:0;
    z-index:3;
    position: fixed;
    width: 85%;
    height:100%;
    overflow-x: hidden;
    background: #FFF;
    color:#000;
    transition: 0.5s;
    padding: 0;
    background-color: #0e76a8;
}
.profile-details-menu{
    margin:0;
    width:100%;
    color:#FFF;
    margin-bottom: 0.5em;
}
.profile-image-mode{
    padding-top: 1em;
    width: 100%;
    padding-bottom: 1em;
}
.profile-img{
    border-radius: 50%;
}
.moon{
    border:none;
    background: url('Icons/moon.svg');
    transform: rotate(-90deg);
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.down-arrow{
    border:none;
    background: url('Icons/arrow-down.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.menu-side-options{
    padding-top: 1.5em;
    background: #FFF;
    /*height:55%;*/
    padding-bottom: 1em;
}
.menu-side-extra-options{
    padding-top: 1.5em;
    border-top: 1px solid #DCDCDC;
    background: #FFF;
    height: 35%;
}
.profile-details-info{
    padding-top: 1.5em;
    /*padding-bottom: 0.2em;*/
}
.arrow{
    align-self: center;
    height:2em;
    width:2em;
    background: #0e76a8;
    border:0;
    padding:0;
    cursor: pointer;
}
.arrow span{
    font-size: 1.5rem;
    margin: 0;
    color:#FFF;
}
.name{
    display: block;
    margin-bottom:0.1em; 
}
.sub-side-menu-profile{
    margin-bottom: 0.5em;
}
.sub-side-menu{
    padding-top:1em;
    padding-bottom: 0.5em;
    background: #FFF;
    border-bottom: 1px solid #DCDCDC;
}
a{
    text-decoration: none;
    color:#555555;
}
.sub-profile-container{
    height:2em;
    width: 2em;
    border-radius:50%; 
}
.sub-profile-img{
    border-radius: 50%;
}
.sub-profile-name{
    align-self: center;
    margin-left: 1.2em;
}
.plus{
    font-size:1.5rem;
    text-align: center;
    width:10%;
}
.menu-side-object{
    margin-bottom:1.5em; 
    display: flex;
    justify-content: space-between;
}
.sub-menu-side-object{
    margin-bottom: 1em;
}
.menu-side-object-text{
    align-self: center;
    width:85%;
}
.announce{
    background: url('Icons/announce.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.group{
    background: url('Icons/user.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.contacts{
    background: url('Icons/user-menu.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.phone-call{
    background: url('Icons/call.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.bookmark-menu{
    background: url('Icons/bookmark.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.setting-icon{
    background: url('Icons/setting.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.secret-chat{
    background: url('Icons/lock.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.person-add{
    background: url('Icons/user-add.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.help-icon{
    background: url('Icons/faq.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
/*Nav Section*/
header{
    z-index:2;
	width:100%;
	background-color: #0e76a8;
	position: sticky;
	top:0;
}
.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    padding: 0em;
    border-radius: 50%;
    background: #0e76a8;
    color: white;
    left: 0;
}
.header-container{
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	align-items: center;
}
.profile-container{
	width: 3em;
	height: 3em;
	border-radius: 50%;
	align-self:center;
}
.lines-icon{
	background: url('Icons/lines.svg');
	background-size: 3em;
	height: 3em;
	width:3em;
	background-position: center;
    background-repeat: no-repeat;
}
.search-box{
	width:75%;
	background-color: #FFF;
	border-radius: 5px;
}
.search-box .container{
	padding: 0.3em 0.2em;
	align-items: center;
}
.search-input{
	font-size: 1rem;
	width: 80%;
	/*border: 1px solid red;*/
	border:0;
}
.qr-icon{
	background: url('Icons/qr.svg');
	background-size: 1.5em;
	height: 1.5em;
	width:1.5em;
	background-position: center;
    background-repeat: no-repeat;
}
.search-icon{
	background: url('Icons/search.svg');
	background-size: 1.5em;
	height: 1.5em;
	width:1.5em;
	background-position: center;
    background-repeat: no-repeat;
}
.message-icon{
	background: url('Icons/message.svg');
	background-size: 2em;
	height: 2em;
	width:2em;
	background-position: center;
    background-repeat: no-repeat;
}
/*Cover Image*/
.cover-image-section{
    width: 100%;
    margin: 0;
}
.cover-image-container{
    z-index:0;
    max-height: 20%;
}
.cover-image-container img{
    width: 100%;
}
/*Profile Section*/
.profile-header{
    margin-top: 1em;
}
.image-container{
    position: relative;
    top:-5em;
    margin: 0 auto;
    height: 8em;
    width: 8em;
    z-index:1;
}
.header-image{
    border-radius:50%;
}
.header-details-section{
    width: 50%;
    /*border:1px solid red;*/
}
.profile-header-details{
    position: relative;
    margin-top:-5em;
    text-align: center;  
    /*margin: 0;*/
}
.profile-header-name{
    display: block;
}
.profile-header-status{
    font-size: 0.8rem;
}

/*Personal details*/
.personal-details{
    margin-top: 1em;
    border-bottom:1px solid #DDDDDD;
}
.personal-details-box{
    margin-top: 1em;
}

.personal-details .container{
    padding: 1em 0;
}
.bold{
    font-weight:bold; 
}
.info{
    margin-left: 0.5em;
    width:90%;
}
/*Experience*/
.experience .container{
    padding:1em 0; 
}
.box-title{
    border-bottom: 1px solid #0e76a8;
    display: block;
    margin: 1em 0; 
}
.college{
    margin-top: 1em;
    margin-bottom: 1em;
}
.education{
    border-bottom: 1px solid #DDDDDD;
}
.education .container{
    padding: 1em 0;
}
.edu-image-container{
    width: 3em;
    height:3em;
}
.edu-desc,.time{
    font-size: 0.8rem;
}
.bio-info{
    /*margin-left: em;*/
}
.time{
    color:gray;
}
.name-desc span{
    margin-bottom: 0.4em;
    line-height: 1.2em;
}
.phone-icon{
    background: url('Icons/call.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.bio-icon{
    background: url('Icons/bio.svg');
    background-size:1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.cake-icon{
    background: url('Icons/cake.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;  
}
.location-icon{
    background: url('Icons/location.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.email-icon{
    background: url('Icons/email.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.name-desc{
    justify-content: flex-start;
    width: 80%;
    flex-direction: column;
}
/*Skills*/
.skills .container{

    padding: 1em 0;
}
.tech-languages,.languages,.interests{
    padding:0.5em 0; 
    overflow-x: auto;
}
.skill{
    background: #DDDDDD;
    padding: 0.5em;
    border-radius: 20px;
}
.skill + .skill{
    margin-left: 1em;
}
/*Posts dets*/
.posts-details-container{
    background: #0e76a8;
    color:#FFF;
    margin-bottom: 0.5em;
}
.connections-info{
    width: 50%;
    justify-content: center;
    align-items: center;
    border-right:1px solid #FFF;
    cursor: pointer;
}
.posts-info{
    width:50%;
    background: #00008B;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.posts-details-container span{
    display: block;
    text-align: center;
}
/*Posts-grid*/
.profile-posts .container{
    padding-bottom:10%; 
}
.connections .container{
    padding-bottom:10%; 
}
.posts-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:0.5em;
}
.post-container{
    border:1px solid #DDD;
}
/*Connections*/
.connection-details{
    margin: 1em 0;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}
.connection-container{
    width: 3em;
    height: 3em;
}
.connection-image{
    border-radius: 50%;
}
.connection-name{
    width: 80%;
    align-self: center;
}
/*Footer*/
.footer-content{
    overflow-x: hidden;
    width: 100%;
    padding:0.5em 0;
    position: fixed;
    bottom: 0; 
    background-color: #FFF;
    box-shadow: 0 -0.5px 3px 0 #000;
}
.footer-icons{
    align-items: center;
}
.home-icon{
    background: url('Icons/home.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.network-icon{
    background: url('Icons/network.svg');
    background-size: 1.2em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.add-icon{
    background: url('Icons/add.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.bell-icon{
    background: url('Icons/bell.svg');
    background-size: 1.4em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.suit-icon{
    background: url('Icons/suit.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.header-pc{
    display: none;
}
/*Posts*/
.post-container{
    width:100%;
}
.post-box{
    margin-top: 1em;
    border:1px solid #D3D3D3;
}
.activity{
    width: 100%;
    border-bottom: 0.1px solid #DCDCDC;
}
.activity-container{
    padding: 0.5em;
}
.details{
    width:90%;
    margin-left:0.5em;
}
.details span{
    display:block;
}
.poster-container{
    width:3em;
    height: 3em;
}
.poster-img{
    border-radius: 50%;
}
.profile-details{
    align-items: center;
    margin-top: 0.5em;
}
.profile-name{
    font-weight: bold;
}
.post-image-container{
    width: 100%;
    /*border:1px solid green;*/
    margin: 0 auto;
}
.post-img{  
    /*border:1px solid blue; */
    width:100%;
}
.linkBox{
    background: #caccce;
    padding: 0.3em;
}
.link-desc{
    display: block;
    margin-bottom: 0.2em;
}
.post-container{
    padding-bottom: 5em;
}
.share-icon{
    background: url('Icons/share.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.love-icon{
    background: url('Icons/love.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.send-icon{
    background: url('Icons/send.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.comment-icon{
    background: url('Icons/comment.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.like-icon{
    background: url('Icons/like.svg');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    height:1.5em;
    width:1.5em;
}
.icons-container{
    border-top:1px solid #DDD;
}
.likes-info{
    align-items: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.message-button{
    border:1px solid #00008B;
    align-self:center;
    padding: 0.3em 0.5em;
    color:#00008B; 
    background-color: #FFF;
}
@media (min-width:800px){
/*PC*/
    /*NAV*/
    .header-pc{
        display: flex;
    }
    .cover-image-container{
        width:85%;
        margin: 0 auto
    }
    .container{
        width: 80%;
    }
    .header-container{
        display: none;
    }
    .first-part{
        /*border:1px solid red;*/
        width:30%;
        align-items: center;
    }
    .second-part{
        width: 58%;
        align-items: center;
        /*border:1px solid yellow;*/
    }
    .nav-icons{
        /*border:1px solid pink;*/
        width:70%;
    }
    .nav-text{
        font-size: 0.8rem;
    }
    .square-icon{
        flex-direction:column; 
        color:#FFF;
        justify-content: center;
        align-items: center; 
    }
    .home-icon{
        background: url('Icons/homed.svg');
        background-size: 2em;
        height:2em;
        width:2em;
        background-repeat: no-repeat;
    }
    .suit-icon{
        background: url('Icons/suitd.svg');
        background-size: 1.8em;
        background-repeat: no-repeat;
        height:2em;
        width:2em;
    }
    .bell-icon{
        background: url('Icons/belld.svg');
        background-size: 1.8em;
        background-repeat: no-repeat;
        height:2em;
        width:2em; 
    }
    .network-icon{
        background: url('Icons/networkd.svg');
        background-size: 1.5em;
        background-repeat: no-repeat;
        height:2em;
        width:2em;
    }
    .work-icon{
        background: url('Icons/work.svg');
        background-size: 1.5em;
        background-position: center;
        background-repeat: no-repeat;
        height:1.5em;
        width:1.5em;
    }
    .profile-container{
        width: 2em;
        height: 2em;
    }
    /*profile*/
    .image-container{
        width:15em;
        height:15em;
        top:-9.5em;
    }
    footer{
        display: none;
    }
    .name-desc{
        /*border: 1px solid red;*/
        width:90%;
    }
    .posts-grid{
        display: flex;
        flex-direction: column;
    }
    .post-container img{
        /*border:1px solid red;*/
    }
    .post-container{
        width: 60%;
        margin:0 auto;
    }
    .profile-details{
        width:95%;
    }
    .description{
        width: 95%;
        display: block;
        text-align: left;
    }
}

